modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 22333
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_dmVyaWZpZWQtdGFkcG9sZS01Ny5jbGVyay5hY2NvdW50cy5kZXYk"
INTERNAL_CRON_SECRET = "1f2a8bc22c8f6548788642d0f28fbfe7f35304b9ff67f5cb3becca39204660a2"
NEXT_PUBLIC_API_URL = "/portal-api/api/v1"
